.header{
    background-color: #494a78;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{font-size: :24px;
font font-family: verdana;
color: white;
font-weight: bolder;
}